{% extends 'base.html.twig' %}

{% block title %}Edit Cours{% endblock %}

{% block body %}
    <h1>Edit Cours</h1>

    {{ include('cours_c/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
