{% extends 'base.html.twig' %}

{% block title %}Edit Concours{% endblock %}

{% block body %}
    <h1>Edit Concours</h1>

    {{ include('concours/_form.html.twig', {'button_label': 'Update'}) }}




{% endblock %}
