<form method="post" action="{{ path('stages_delete', {'id': stage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stage.id) }}">
    <button class="add btn btn-gradient-primary font-weight-bold todo-list-add-btn" >Delete</button>
</form>
