{% extends 'base.html.twig' %}

{% block title %}Edit Stages{% endblock %}

{% block body %}
    <h1>Edit Stages</h1>

    {{ include('stages/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('stages_index') }}">back to list</a>


{% endblock %}
