{{ include('front/nav.html.twig') }}




<div class="page-banner-area item-bg2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-banner-content">
                    <h2>Marks</h2>
                    <ul>
                        <li>
                            <a href="{{ path('front_log') }}">Home</a>
                        </li>
                        <li>Marks</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="pricing-area ptb-100">
    <div class="container">
        <div class="pricing-table table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>
                        Preschool
                    </th>
                    <th>
                        Daily
                    </th>
                    <th>
                        Weekly
                    </th>
                    <th>
                        Monthly
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Full-Day (8:00 AM - 6:00 PM)</th>
                    <td>$80.00</td>
                    <td>$180.00</td>
                    <td>$280.00</td>
                </tr>
                <tr>
                    <th>Half Day (8:00 AM - 2:00 PM or 3:00 PM - 6:00 PM)</th>
                    <td>$35.00</td>
                    <td>$75.00</td>
                    <td>$275.00</td>
                </tr>

                </tbody>
            </table>
            <div class="table-title">
                <p>This is the marks of all the test you passed</p>
            </div>
        </div>
    </div>
</section>






{{ include('front/footer.html.twig') }}